{{>header }}


<div class="container">
    <h1 class="text-center mb-5"> {{title}} </h1>
    <div class="row">

        <div class="col-md-6">
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt assumenda tenetur reiciendis,
                dignissimos quidem optio sed, sapiente eaque aut, quod natus rerum impedit nostrum nam. Nam voluptatum
                nostrum, eligendi tempora quaerat placeat! Repellendus rem, voluptas cum corrupti reprehenderit quis
                doloribus totam consequatur? Perspiciatis quasi voluptate dignissimos perferendis inventore architecto
                maxime.
            </p>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro labore facilis rem saepe error repellat
                numquam in harum, praesentium consequatur quisquam amet beatae voluptates mollitia ullam asperiores
                aliquam ipsam impedit.
            </p>
        </div>

        <div class="col-md-6">
            <img class="img-fluid" src="assets/images/image.jpg" alt="" srcset="">
        </div>
    </div>
</div>

{{>footer}}