{{>header }}
<!-- Content -->
<div class="jumbotron">
    <h1 class="display-4">Static Web Page with Express andNodejs</h1>
    <p class="lead">Plataformas Web</p>
    <hr class="my-4">
    <p>My name is : {{name}}</p>
    <p>
        {{capitalize "proBANDO teXTO paRa capITaliZAR"}}
    </p>
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae pariatur dolorum vitae recusandae
        minus, consequatur fuga voluptate ipsa fugit excepturi soluta assumenda maxime totam error maiores corporis!
        Atque, reprehenderit repellat.
    </p>
</div>

{{>footer}}